.RollDice button {
  width: 15em;
  padding: 1.5em;
  border: 0;
  border-radius: 10px;
  background-color: rgb(14, 161, 14);
  color: white;
  margin-top: 3em;
}

.RollDice button:hover {
  background-color: rgb(5, 184, 5);
}

.shaking {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-8px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(8px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}